h1{
    color: blue;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.logins{
    display:flex;
    flex-direction:column;
    gap: 20px;
    border:white solid 0.5 px;
    box-shadow: 0px 0px 10px gray;
    padding:30px;

}
p{
    text-align:center;
}
.button{
    background-color: blue;
    color: white;
    height: 20px;
    width: 100%;
}
.link{
    color: blue;
}
    
